.StationStats {
  margin-top: 10%;
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: scroll;
}
.StationsName {
  cursor: pointer;
}
.MostPopularDeparturesContainer,
.MostPopularReturnsContainer {
  width: 90%;
  padding: 1vh;
}
