.leaflet-popup-content-wrapper,
.leaflet-popup-content {
  width: 50vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leaflet-popup-close-button {
  display: none;
}
